.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: rgb(128, 111, 111);
}

.counter h1,
h2,
p {
    color: antiquewhite;
}

.btns {
    display: flex;
    gap: 2rem;
}

p {
    font-size: 2rem;
    margin-top: 1.2rem;
}