.App {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    flex-direction: column;
}

p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.stars>span {
    cursor: pointer;
    display: inline-block;
    margin: 8px 0;
    font-size: 2.9rem;
}

.selected {
    color: gold;
}

textarea {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid pink;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}